<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>VOYAGE, VOYAGE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Catamaran:900" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>
<body>

	<header>
		<a href="index.html" class="logo">VOYAGE, VOYAGE</a>
		<h1>Afinal, a melhor maneira de viajar é sentir. <span>Fernando Pessoa</span></h1>
		<div class="search">
			<form method="get" action="">
				<input type="text" name="search" placeholder="Pesquisar">
			</form>
		</div>
	</header>

	<main>

		
		<h2>Resultados da Pesquisa</h2>


		<section class="trips">

			<div>
				<img src="assets/images/1.jpg">
				<h3>Quénia</h3>
				<div class="summary">As cores maravilhosas de um lago único na Albânia.</div>
				<div class="price">Desde 320€</div>
		    </div>

		    <div>
				<img src="assets/images/3.jpg">
				<h3>Evereste</h3>
				<div class="summary">As cores maravilhosas de um lago único na Albânia.</div>
				<div class="price">Desde 320€</div>
		    </div>

		    <div>
				<img src="assets/images/5.jpg">
				<h3>Londres</h3>
				<div class="summary">As cores maravilhosas de um lago único na Albânia.</div>
				<div class="price">Desde 320€</div>
		    </div>

		</section>
	

	</main>

	<footer>
		Copyright Voyage, Voyage. 2019
	</footer>
</body>
</html>