<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>VOYAGE, VOYAGE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Catamaran:900" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>
<body>

	<header>
		<a href="index.html" class="logo">VOYAGE, VOYAGE</a>
		<h1>Afinal, a melhor maneira de viajar é sentir. <span>Fernando Pessoa</span></h1>
		<div class="search">
			<form method="get" action="">
				<input type="text" name="search" placeholder="Pesquisar">
			</form>
		</div>
	</header>

	<main>


		<article>
			<img src="assets/images/2.jpg">

			<div>
				<h2>Blue Eye</h2>
				<h3>Destinos Exóticos</h3>
				<div class="summary">As cores maravilhosas de um lago único na Albânia.</div>
				<div class="price">Desde 320€</div>

				<div class="text">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rutrum nisl id nunc ultricies, vitae volutpat turpis aliquam. Morbi facilisis pellentesque urna eget feugiat. Duis sed purus tortor. Quisque placerat ultricies lectus, sed egestas mauris vestibulum et. Nam lorem turpis, consectetur vel lacus quis, rutrum mattis felis. Suspendisse vitae turpis accumsan arcu elementum feugiat quis vel est. Sed iaculis rhoncus varius. Integer vitae pretium justo. Nullam dignissim iaculis metus, sed convallis erat auctor ut. Cras tellus nisl, volutpat nec luctus vitae, porttitor vel diam. Curabitur a sollicitudin nisi, ut luctus purus. Ut ac lorem non diam accumsan suscipit. Nullam sed velit sagittis, bibendum tellus ac, tincidunt nisl.</p>

					<p>Praesent fringilla faucibus ligula, sit amet scelerisque diam. Mauris consectetur tellus vulputate felis placerat, vestibulum rhoncus purus ornare. Curabitur volutpat egestas libero, nec dignissim magna fermentum ac. Integer a sapien pulvinar, porta velit ac, facilisis orci. Vestibulum porttitor risus sit amet scelerisque tempor. Praesent at felis ultricies, convallis augue id, venenatis dolor. Suspendisse potenti. Cras a velit dolor. Duis posuere elit vel elit aliquet, id feugiat ligula dignissim. Fusce vel mi tellus. Morbi ut nibh ut nisl mollis consequat. Ut posuere sem nec neque viverra luctus. Nullam suscipit ante id erat mattis, sed varius velit commodo.</p>
				</div>

		    </div>

		</article>

		<section class="comments">
			<h3>Comentários</h3>

			<div class="comments_contain">

				<div class="comment">
					<strong>Maria</strong>, 12 Mar 2019, 16:22h
					<p>Fantástico destino!</p>
				</div>

				<div class="comment">
					<strong>Maria</strong>, 12 Mar 2019, 16:22h
					<p>Fantástico destino!</p>
				</div>

			</div>

			<form>

				<input type="text" name="author" placeholder="Nome">
				<textarea name="comment" placeholder="Comentário"></textarea>
				<button>Enviar</button>

			</form>

		</section>

	

	</main>

	<footer>
		Copyright Voyage, Voyage. 2019
	</footer>
</body>
</html>