/* Reset */ 

html{width: 100%;}

*{box-sizing: border-box;}

body{margin: 0; padding: 0;}

img{ max-width: 100%;}

h1, h2, h3, p{
    margin: 0; padding 0;
}

/* Vars */ 

:root{
    /* spaces */ 
    --desktop: 60px;
    --mobile: 30px;
    --textspace: 30px;
    /* colors */
    --white: white;
    --black: black;
    --green: #5F8086;
    --grey: #2C2C2C;
}

/* General Styles */ 

body{
    font-family: 'Lato', sans-serif;
}

h2{
    font-size: 30px;
    margin-top: var(--textspace);
    margin-bottom: var(--textspace);
}

h3{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.3em;
}

p{
    line-height: 3.2;
    font-weight: 300;
}

a{
    margin-top: var(--mobile);
    margin-bottom: var(--mobile);
}


/* Header */ 

header{
    background: url(../images/1.jpg);
    background-position: center;
    background-size:cover;
    height: 100vh;
    color: var(--white);
    position: relative;
    /* align items to center */ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

/* --- header nav --- */

nav{
    position: absolute;
    top: var(--desktop);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
}

/* ---------- logo ---------- */
.logo h1{
    font-family: 'Pacifico', sans-serif;
    font-size: var(--desktop);
    font-weight: 300;
    text-align: center;
}

/* ---------- menu ---------- */

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li{
    display: inline-block;
}

.menu li a {
    margin: 0 70px 0 0;
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
}

.menu li:last-child a {
    margin: 0 0 0 0;
}

/* --- header content --- */


header .content{
    width: 70%;
}

header .content h1{
    font-size: 3rem;
    margin-bottom: var(--desktop);
}

header .content img{
    max-height: 7vh;
}
/* Main */ 

section{
    padding: var(--desktop);  
}




/* --- main about --- */

main #about{
    background-color: var(--green);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: var(--desktop);
    color: var(--white);
}

main #about div:last-child{
    text-align: justify;
}

main #about h2{
    line-height: 1.5;
}

/* --- main travel --- */

main #travel{
    text-align: center;
}

main #travel h3{
    margin-bottom: var(--desktop);
}

main .travel{
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: var(--desktop);
    color: var(--grey);
    text-align: center;
    
}


/* ---------- article ---------- */

.travel figure{
    margin: 0;
    padding: 0;
    min-height: 20vh;
    width: 100%;
}

.travel figure img {
    
    max-width: 100%;
    object-fit: cover;
}

/* --- main contact --- */

#contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contact .contact-info{
    background-color: var(--green);
    color: var(--white);
    padding: var(--desktop);
}

#contact .contact-info p{
    width: 60%;
}

#contact .contact-info a{
    color: var(--white);
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin-top: 30px;
}


#contact .map{
    width: 100%;
   
}

#contact iframe{
    width: 100%;
    min-height: 100%;
    filter: grayscale(100%);
    object-fit: cover;
}


/* Mobile */ 

@media screen and (max-width: 768px){
    
    /* grids */ 
    main #about, main .travel, #contact{
        grid-template-columns: 1fr;
    }
    
    /* desktop to mobile - spaces */ 
    
    nav{
    top: var(--mobile);
    }
    
    section{
    padding: var(--mobile);  
    }
    
    main #about{
    grid-column-gap: var(--mobile);
    }
    
    main .travel{
    grid-column-gap: var(--mobile);   
    }
    
    article:first-child, article:nth-child(2) {
    margin-bottom: var(--mobile);
    }
    
    #contact .contact-info{
    padding: var(--mobile);
    }
    
    /* general texts */ 
    
    p{
    line-height: 2.5;
    }
    
    h1, h2, h3, p, a{
        margin-top: var(--mobile);
        margin-bottom: var(--mobile);
    }

    h2{
    line-height: normal;
    }
    
    /* header texts */ 
    header .content h1 {
    font-size: 2rem;
    }
    
    .menu li a {
    margin: 0px 25px 0 0;
    font-size: 2rem;
    padding: 0;
    }
    
    header .content {
    width: 70%;
    margin-top: 40vh;
    }
    

    /* main texts */ 
    main #about div:last-child{
    text-align: left;
    }
    
    main #travel h3{
    margin-bottom: var(--mobile);
    }
    

    
    /* footer texts */ 
    #contact .contact-info p {
    width: 100%;
    }
    


}